<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/index.css"/>
</head>
<body>
    <h1>Website created by ProjectJ</h1>
    <p>Powerful Javascript library that adopts OO coding-style for your application</p>
    <h3>Installation</h3>
    <section>
        <p>It's simple af. Just clone that github repository into your project:</p>
        <span>git clone https://github.com/PlasticMat25/ProjectJ.git</span>
        <p>That command will clone the main method which is always the stable one.</p>
        <p>Explore different versions </p>
        <p>You can install any version of the application using the following command: </p>
        <span>git clone --branch {version} https://github.com/PlasticMat25/ProjectJ.git</span> 
        <p>Replace <strong>{version}</strong> with any branch you'd like to install</p>
    </section>
    <img src="http://localhost:3000/public/tomato.jpg" alt="Image of tomato" width="250px"/>
    <a href="https://github.com/PlasticMat25/ProjectJ">Visit our github</a>
</body>
</html>