* {
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

body {
    width: 100vw;
    background-color: #232b2e;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    color: hsl(196, 14%, 90%);
}

p,
section {
    font-size: 115%;
}

body > * {
    margin: 1rem 0;
}

body > p {
    margin-bottom: 2rem;
}

section {
    margin: 2rem;
}

img {
    display: block;
}

span {
    background-color: hsl(196, 14%, 26%);
    padding: 4px;
    margin: 8px;
    box-shadow: 2px 2px 4px 0 #0005;
    display: block;
}

a {
    background-color: hsl(196, 14%, 50%);
    padding: 1rem;
    color: white;
    font-weight: bold;
}
